@font-face {
  font-family: "Norse";
  src:
    url("font/Norse-Bold.woff2") format("woff2"),
    url("font/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 0; */
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-img-logo {
  position: relative;
  flex: 1.5;
  margin: 0;
  padding: 0;
  background: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover; /* fill container and keep aspect ratio */
  background-position: center; /* center the image */
  background-repeat: no-repeat; /* avoid tiling */
}

.left-img-logo {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  align-self: center;
  color: white;
}

a:link {
  color: white;
}

a:hover {
  color: brown;
}

a:visited {
  color: blue;
}

.black-bar-logo {
  display: flex;
  padding: 10px 0;
  position: absolute;
  top: 130px;
  height: 17vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

img[src="images/odin-lined.png"] {
  width: 90px;
  height: auto;
  margin-left: auto;
}

span {
  font-family: "Norse", system-ui;
  font-size: 5em;
  color: white;
  margin-right: auto;
  align-self: center;
}

.right-form {
  flex: 2.5;
}

.right-form {
  padding: 60px 30px;
  background-color: whitesmoke;
}

h3 {
  font-family: sans-serif;
  line-height: 1.2;
}

h2 {
  font-family: sans-serif;
}

form {
  background-color: white;
  margin-top: 50px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 2px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.form-row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  flex-direction: column;
  flex: 1;
}

input {
  width: 60%;
  height: 1.5em;
  border-radius: 2px;
}

input:focus {
  border: 2px solid blue;
  outline: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

input:invalid {
  border: 2px solid red;
  outline: none;
}

button {
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  padding: 10px 30px;
  background-color: #596d48;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  color: white;
}

p {
  font-family: sans-serif;
}

a[href=""] {
  color: #596d48;
  text-decoration: none;
}
